<section>
    <div class="container p-5 fw-bold bg-body-tertiary my-5">
        <div class="row justify-content-around align-items-center ">
            <div class="col-md-5">
                <div>
                    <h1 class="fw-bold">Cart Shop</h1>
                    <p class="mt-3 fs-5">total price : <span class="text-main">{{totalPrice | currency :'GBP'}}</span>
                    </p>
                </div>

            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    @if (cartDetails) {
                    <button [routerLink]="['/orders',cartDetails.cartId ]"
                        class="btn btn-primary p-3  fw-bold">Pay</button>

                    }

                    <p class="mt-3 fs-5">total number of items: <span class="text-main">{{numOfCartItems}}</span></p>

                </div>
            </div>
        </div>
        <div class="row align-items-center g-2">
            @for (item of cartItems; track $index) {
            <div class="col-md-1">
                <div class="p-0">
                    <img [src]="item.product.imageCover" class="w-100 " [alt]="item.product.title">
                </div>
            </div>
            <div class="col-md-11">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div>{{item.product.title}}</div>
                        <div>{{item.price |currency :'GBP'}}</div>
                        <button (click)="removeItemfromCart(item.product.id)" class="btn text-danger p-0 mt-2"><i
                                class="fa-solid fa-trash"></i> Remove</button>
                    </div>
                    <div class="d-flex align-items-center">
                        <button (click)="updateCartQuantity(item.count+1,item.product.id)" class="btn fs-2"><i
                                class="fa-regular fa-square-plus text-main "></i></button>
                        <span class="mx-1">{{item.count}}</span>
                        <button (click)="updateCartQuantity(item.count-1,item.product.id)" class="btn fs-2"><i
                                class="fa-regular fa-square-minus text-main"></i></button>
                    </div>
                </div>

            </div>
            <hr>
            }

        </div>
        <div class="text-center">
            <button (click)="clearCart()" class="btn border-main fs-3 ">Clear Your Cart</button>
        </div>
    </div>
</section>